    </div>
    <hr>
    <div id="footer footer-fixed-bottom">
      <div class="container">
      <!--  <a href="https://www.bu.edu/psych/"><img class="inline-block navb-icon" src="/static/img/logo/bulogo.png" alt="BU logo" style="margin-bottom: 10px"> </a> -->
      </div>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/lab/static/js/jquery.min.js"></script>
    <script src="/lab/static/js/popper.min.js"></script>
    <script src="/lab/static/js/bootstrap.min.js"></script>
    <script src="/lab/static/js/parallax.min.js"></script>
  </body>
</html>
